<!--This page have been formed from the bootstrap templates, REF: https://github.com/BlackrockDigital-->
<!-- Team -->
<content-edit-option-nav [modal]="modal" *ngIf="showElementTools" (removeClick)="remove()" (backgroundClick)="background()" (styleClick)="style()" (addClick)="add()"></content-edit-option-nav>
<view-uploaded-images *ngIf="showElementTools" [filteredItemList]="filteredItemList" [pageData]="pageData" #uploadImages (changeImage)="changeImage($event)"></view-uploaded-images>
<section [ngStyle]="{'background-image': 'url(' + pageData?.background.image + ')','background-color':pageData?.background.color}" class="bg-light" id="{{pageData?.elementTmpName+pageData?.elementSequence}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase editable" [(contenteditableModelHtml)]="pageData?.title.title">{{pageData?.title.title}}</h2>
        <h3 class="section-subheading text-muted editable" [(contenteditableModelHtml)]="pageData?.title.subtitle">{{pageData?.title.subtitle}}</h3>
      </div>
    </div>
    <div class="row">

      <div *ngFor="let item of pageData?.data" class="col-sm-4">
        <div class="team-member">
          <change-images [filteredItemList]="filteredItemList"  *ngIf="showElementTools" [image]="item"></change-images>
          <img class="mx-auto rounded-circle" src="{{item.img}}" alt="">
          <h4 class="editable" [(contenteditableModelHtml)]="item.title">{{item.title}}</h4>
          <p class="text-muted editable" [(contenteditableModelHtml)]="item.subtitle">{{item.subtitle}}</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
            </li>
          </ul>
        </div>
      </div>
      <!--<div class="col-sm-4">-->
      <!--  <div class="team-member">-->
      <!--    <img class="mx-auto rounded-circle" src="app/assets/bootstrap-templates/img-tmp2/team/2.jpg" alt="">-->
      <!--    <h4>Larry Parker</h4>-->
      <!--    <p class="text-muted">Lead Marketer</p>-->
      <!--    <ul class="list-inline social-buttons">-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-twitter"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-facebook"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-linkedin"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--    </ul>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
      <!--  <div class="team-member">-->
      <!--    <img class="mx-auto rounded-circle" src="app/assets/bootstrap-templates/img-tmp2/team/3.jpg" alt="">-->
      <!--    <h4>Diana Pertersen</h4>-->
      <!--    <p class="text-muted">Lead Developer</p>-->
      <!--    <ul class="list-inline social-buttons">-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-twitter"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-facebook"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="list-inline-item">-->
      <!--        <a href="#">-->
      <!--          <i class="fa fa-linkedin"></i>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--    </ul>-->
      <!--  </div>-->
      <!--</div>-->
    </div>

    <!--<div class="row">-->
    <!--  <div class="col-lg-8 mx-auto text-center">-->
    <!--    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</section>
  