<!--<button (mouseenter) ="layoutButton=true"  (mouseleave)="layoutButton=false" type="button" data-toggle="modal" data-target="#add-page-modal" class="btn btn-warning btn-circle btn-xl edit-pages"><i class="fa fa-check"></i>-->
<!--</button>-->

<!--<button *ngIf="layoutButton" type="button" class="btn btn-warning btn-circle cover-xl edit-pages">___>Manage Pages-->
<!--</button>-->
 <!--The Modal -->
 
<div #uploadModal id="add-page-modal" class="modal" [ngStyle]="{'display': modalActive == true ? 'block' : 'none' }">
  
  
  
  <div class="modal-content" [style.top]="top">
    <span (click)="toggleModal()" data-dismiss="modal" class="close" style="text-align: right !important" >&times;</span>
    <div class="container">

        
<div class="tabcontrol" data-role="tabcontrol" data-open-target="#frame_3_1">
                            <ul class="tabs">
                                <li class="active"><a href="#frame_3_1">Existing Images</a></li>
                                <li class=""><a href="#frame_3_2">Select Background Color</a></li>
                                <li class=""><a href="#frame_3_3">Upload Image</a></li>
                            </ul>
                            <div class="frames">
                                <div class="frame bg-grayLighter" id="frame_3_1" style="display: block;">
                                    
                                     <div class="row">
                                                  <div class="col-md-12">
                                                    <h3>Select existing image</h3>
                                                  </div>
                                                  </div>
                                                  
                                                  <div class="row">
                                                  <div class="col-md-12">
                                                         <div class="btn-group" role="group" aria-label="...">
                                                          <button (click)="changeItemGroup(item)" *ngFor="let item of itemGroupList" type="button" class="btn btn-default">{{item}}</button>
                                                        </div>
                                                  </div>
                                                  </div>
                                             
                                             
                                             <div class="row">
                                              <div class="col-sm-1">
                                               <button [disabled]="selectedIndex==0" (click)="back()" class="button cycle-button primary"><<</button>
                                               </div>
                                               <div class="col-md-10">
                                                 <div id="car_m_2_thumbs" class="padding20 bg-grayLighter align-center">
                                        
                                                                 <!--[ngStyle]="{ 'background-image': 'url('+prefix+ item.itemName+ sufix+';);' }"-->
                                                                 <img class="shadow hand" (click)="changeTroughPicture(item)" *ngFor="let item of filteredItemList" src="{{prefix+ item.itemName+ sufix}}" style="width: 20%; height: 20%;display:inline;margin-left:5px;">
                                        
                                           
                                                 </div>
                                                
                                                    <!--Control buttons in order to select the items-->
                                               </div>
                                               <div class="col-sm-1">
                                               <button [disabled]="selectedIndex==filteredItemList?.length-1" (click)="forward()" class="button cycle-button primary">>></button>
                                               </div>
                                              
                                             </div>
                                             <div class="row">
                                                <div class="col-md-12">
                                                <img src="{{currentImage}}" style="height:100%">
                                                    <!--Control buttons in order to select the items-->
                                               </div>
                                              
                                             </div>
                                                  <div class="row">
                                                  <div class="col-md-12">
                                                   <button (click)="toggleModal()" data-dismiss="modal" class="button warning"><i class="fa fa-times"></i> Close</button>
                                                   <button (click)="change()" class="button success"><span class="mif-pencil"></span>Add Selected Element</button>
                                                  </div>
                                             </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                </div>
                                <div class="frame bg-grayLighter" id="frame_3_2" style="display: none;">
                                </div>
                                <div class="frame bg-grayLighter" id="frame_3_3" style="display: none;">
                                    
                                </div>
                            </div>
                        </div>
        
                                            
                                            



    




     
     </div>
    

    
    
    
  </div>
</div>
 <!--Button trigger modal -->