<!--<div class="container main-container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--        <button class="nav-link" (click)="enable()">Enable</button>-->
<!--        <button class="btn btn-primary" (click)="disable()">Disable</button>-->
<!--        <button (click)="checkObject()" type="button" class="btn btn-primary">Save</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

    <!--<div class="navbar navbar-toggleable-md navbar-inverse fixed-bottom bg-inverse">-->
    <!--  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--    <span class="navbar-toggler-icon"></span>-->
    <!--  </button>-->
    <!--  <a class="navbar-brand" href="#">Edit Content</a>-->
    <!--  <div class="collapse navbar-collapse" id="navbarCollapse">-->
    <!--    <ul class="navbar-nav mr-auto">-->
    <!--      <li [hidden]="editPressed"  class="nav-item active">-->
    <!--        <a class="nav-link hand" (click)="edit()" >Enable Edit <span class="sr-only">(current)</span></a>-->
    <!--      </li>-->
    <!--      <li [hidden]="!editPressed"  class="nav-item hand">-->
    <!--        <a class="nav-link" (click)="disable()" >Disable Edit <span class="sr-only">(current)</span></a>-->
    <!--      </li>-->
    <!--      <li class="nav-item hand">-->
    <!--        <a class="nav-link" (click)="saveObject()" >Save <span class="sr-only">(current)</span></a>-->
    <!--      </li>-->
    <!--      <li class="nav-item hand">-->
    <!--        <a class="nav-link" (click)="logout()" >Logout <span class="sr-only">(current)</span></a>-->
    <!--      </li>-->
    <!--    </ul>-->
    <!--    <form class="form-inline mt-2 mt-md-0">-->
    <!--      <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->
    <!--  </div>-->
    <!--</div>-->

<div class="app-bar darcula fixed-bottom" data-role="appbar">
                    <a class="app-bar-element branding">Edit Panel</a>
                    <span class="app-bar-divider"></span>
                    <ul class="app-bar-menu">
                        <li  [hidden]="editPressed"   data-flexorderorigin="1" data-flexorder="1"><a class="hand" (click)="edit()">Enable Edit</a></li>
                        <li  [hidden]="!editPressed" data-flexorderorigin="2" data-flexorder="2" class=""><a  (click)="disable()" class="hand">Disable Edit</a></li>
                        <li data-flexorderorigin="3" data-flexorder="3" class=""><a (click)="saveObject()" class="hand">Save</a></li>
                        <!--<li data-flexorderorigin="4" data-flexorder="4" class=""><a (click)="logout()" class="hand">Logout</a></li>-->
                    </ul>
                    <div class="app-bar-element place-right">
                      <a (click)="logout()" class="hand">Logout</a>
                    </div>
                <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar app-bar-menu hidden" style="display: none;"></ul></nav></div>
  


