<add-page-editor></add-page-editor>

<button (mouseenter) ="layoutButton=true"  (mouseleave)="layoutButton=false" type="button" data-toggle="modal" data-target="#layout-modal" class="btn btn-info btn-circle btn-xl edit-layout"><i class="fa fa-check"></i>
</button>
<button *ngIf="layoutButton" type="button" class="btn btn-info btn-circle cover-xl edit-layout">Edit Layout
</button>

<!--*ngIf="!pageData.pageType == 'titlepage'"-->
<button (click)=removeSimplePage()  (mouseenter) ="deleteButton=true"  (mouseleave)="deleteButton=false" type="button" class="btn btn-danger btn-circle btn-xl delete-button"><i class="fa fa-check"></i>
</button>
<button (click)=removeSimplePage()  *ngIf="deleteButton" type="button" class="btn btn-danger btn-circle cover-xl delete-button">Delete Page
</button>


<!--remove page-->

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="layout-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            

<!-- Modal -->

            <div class="row" id="testele">
              <div class="col-lg-6 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Edit Layout</h2>
                  <layout-editor-add-new-item (addItem)="addItem($event)" [itemList]="itemList" [pageData]="pageData.pageData"></layout-editor-add-new-item>
                                      <!--navbar-->
                  <img id="{{'img-'+'mainNav'}}"/>
                  <section  class="sortable">
                    <!--<div *ngFor="let item of imageStructure">-->
                    <!--  <layout-editor-option-nav></layout-editor-option-nav>-->
                    <!--  <img id="{{item.id}}" src="{{item.img}}" class={{item.class}}/>-->
                    <!--  <layout-editor-choice-modal></layout-editor-choice-modal>-->
                    <!--</div>-->

                    <div class="border" *ngFor="let item of pageData.pageData" id="{{item.elementSequence}}" >
                      <!--<layout-editor-option-nav (changeItem)="change($event)" [item]="item" [itemList]="itemList"></layout-editor-option-nav>-->
                      <layout-editor-choice-modal (removeItem)="removeItem($event)" (changeItem)="change($event)" [item]="item" [itemList]="itemList" [pageData]="pageData.pageData" ></layout-editor-choice-modal>
                      <img src="{{'app/assets/images/templates/Page-elements/'+item.elementTmpName+'.PNG'}}" id="{{'img-'+item.elementTmpName+item.elementSequence}}"/>
                    </div>
                    
	               </section>
                                      <!--footer-->
                    <img id="{{'img-'+pageData.footer.elementTmpName}}"/>
                  
                  <button class="btn btn-warning" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                  <button (click)="reorder()" class="btn btn-primary" type="button"><span class="mif-floppy-disk"></span> Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>