<button (mouseenter)="layoutButton=true" (mouseleave)="layoutButton=false" type="button" data-toggle="modal" data-target="#add-page-modal" class="btn btn-warning btn-circle btn-xl edit-pages"><i class="fa fa-check"></i>
</button>

<button *ngIf="layoutButton" type="button" class="btn btn-warning btn-circle cover-xl edit-pages">__Manage Pages
</button>
<!--The Modal -->

<div id="add-page-modal" class="modal" [ngStyle]="{'display': modalActive == true ? 'block' : 'none' }">
 <div class="modal-content" [style.top]="top">
  <span (click)="toggleModal()" data-dismiss="modal" class="close" style="text-align: right !important">&times;</span>
  <div class="container">


   <div class="tabcontrol" data-role="tabcontrol" data-open-target="#frame_3_1">
    <ul class="tabs">
     <li class="active"><a href="#frame_3_1" (click)="newPageOption=true;addSectionOption=false;uploadOption=false;">New Page Creation</a></li>
     <li class=""><a href="#frame_3_2" (click)="newPageOption=false;addSectionOption=true;uploadOption=false;">Add Extra Section</a></li>
     <!--<li class=""><a href="#frame_3_3" (click)="newPageOption=false;addSectionOption=false;uploadOption=true;">Upload And Select Image</a></li>-->
    </ul>
   
     <div class="frame bg-grayLighter" [hidden]="!newPageOption">
      <div class="row">
       <div class="col-md-12">
        <h3>Add New Page</h3>
        <h5 style="color:red">Pleae note that after page generation, if you cannot acces page it means that it is still generating in background, you mignt be required to wait 10 seconds and ther refresh the entire page</h5>
       </div>
       </div>
       
         <div class="row">
       <div class="col-md-12" >
                <form style="padding: 25px;" class='new-page-form' [formGroup]="newPageForm" (ngSubmit)="createNewPage(newPageForm.value)">
                <!--<input [ngClass]="{'inputError': !validInputField(subdomainName) }" type="text" formControlName="subdomainName" name="subdomainName" placeholder="Please type in subdomain name">-->
                   <div class="form-group">
                        <label for="domainInput">Page name in nav
                        	<a (click)='hint("This is the title under which page will apear in the navbar")' class="badge" style="border: 1px solid #eee;padding:3px 6px;border-radius:4px;">
								?
							</a>
                        </label>
                         <em class="error animated fadeIn left" [hidden]="validInputField(navbarName)">This field is required</em>
                        <input [ngClass]="{'inputError': !validInputField(navbarName) }" formControlName="navbarName" name="navbarName" type="text" class="form-control" id="domainInput" aria-describedby="domainName"  placeholder="Please type in subdomain name">
                        <small class="form-text text-muted">please spectify how page will appear in navbar</small>
                   </div>
                   
                   <div class="form-group">
                    <label for="applicationType">Page Type
                    <a (click)='hint("Selecting the application type","Currently there are two template types supported: \n 1. simple - This template will contain simple layour and is text oriented \n 2. Galery - This template consists of multiple images and is image oriented")' class="badge" style="border: 1px solid #eee;padding:3px 6px;border-radius:4px;">
								?
							</a>
                    </label>
                    <em class="error animated fadeIn left" [hidden]="validInputField(pageType)">Please select page Type to create</em>
                    <select formControlName="pageType" name="pageType" class="form-control" id="pageType">
                      <option value="template_text">Text oriented template</option>
                      <option value="template_galery">Galery Template</option>
                    </select>
                  </div>
                  
                		<input [disabled]="newPageForm.invalid"  type="submit" name="Create Web Application" class="login loginmodal-submit" value="Create">
                		<input  type="button" data-dismiss="modal" name="Cancel" class="login loginmodal-submit" value="Cancel">
				  </form>
       
         
            <!--Control buttons in order to select the items-->
         </div>
       
       

      </div>
     </div>
     <!--id="frame_3_2"-->
     <div class="frame bg-grayLighter" [hidden]="!addSectionOption">
      <h3>Enable Additional Sections</h3>
      <br/>
      
      <form [formGroup]="navForm" (ngSubmit)="change(navForm.value)">
      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="isInNav" name="isInNav">
                        Enable Blogging Section:
                      </label>
      <br/>
      <br/>
      <input [disabled]="navForm.invalid" type="submit" name="selectItem" class="button success" value="Change section settings">

     </form>
      
      
      
      
     </div>
     <div class="frame bg-grayLighter" [hidden]="!uploadOption">

     </div>
    </div>
   </div>

   <!--<div class="row">-->
   <!--      <div class="col-md-12">-->
   <!--       <button (click)="toggleModal()" data-dismiss="modal" class="button warning"><i class="fa fa-times"></i> Close</button>-->
   <!--       <button (click)="change()" class="button success"><span class="mif-pencil"></span>Add Selected Element</button>-->
   <!--      </div>-->
   <!-- </div>-->
  </div>





 </div>

<!--Button trigger modal -->
