<!--This page have been formed from the bootstrap templates, REF: https://github.com/BlackrockDigital-->
<!-- About -->
<content-edit-option-nav [modal]="modal" *ngIf="showElementTools" (removeClick)="remove()" (backgroundClick)="background()" (styleClick)="style()" (addClick)="add()"></content-edit-option-nav>
<view-uploaded-images *ngIf="showElementTools" [filteredItemList]="filteredItemList" [pageData]="pageData" #uploadImages (changeImage)="changeImage($event)"></view-uploaded-images>
<!-- Main Content -->
<section [ngStyle]="{'background-image': 'url(' + pageData?.background.image + ')','background-color':pageData?.background.color}" id="{{pageData?.elementTmpName+pageData?.elementSequence}}">
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" class='editable' [(contenteditableModelHtml)]="pageData?.title.title" [ngClass]="{'border': loginCheck()&&showElementTools}">-</h2>
        <h3 class="section-subheading text-muted" class='editable' [(contenteditableModelHtml)]="pageData?.title.subtitle" [ngClass]="{'border': loginCheck()&&showElementTools}">-</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin:auto;">
              <div *ngFor="let post of blogPostList">
                <div class="post-preview" >
                    <a [routerLink]="['/blog-posts',post._id] " pageScroll  href="#top_of_page">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post?.date | date: 'dd/MM/yyyy at HH:MM'}}</p>
                </div>
                <hr>
               </div>

        <!-- Pager -->
        <ul class="pager">
          <li class="next">
            <a [routerLink]="['/blog-posts'] " pageScroll  href="#top_of_page">Older Posts &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

