   <!--This page have been formed from the bootstrap templates, REF: https://github.com/BlackrockDigital-->
    <!-- Header -->
     <!--menu to control and edit the element-->
    <!--<content-edit-option-nav *ngIf="showElementTools" (removeClick)="remove()" (backgroundClick)="background()" (styleClick)="style()" (addClick)="add()" ></content-edit-option-nav>-->
    
      <content-edit-option-nav [modal]="modal" *ngIf="showElementTools" (removeClick)="remove()" (backgroundClick)="background()" (styleClick)="style()" (addClick)="add()" ></content-edit-option-nav>
    <view-uploaded-images *ngIf="showElementTools" [filteredItemList]="filteredItemList" [pageData]="pageData"  #uploadImages (changeImage)="changeImage($event)" ></view-uploaded-images>
    <header [ngStyle]="{'background-image': 'url(' + pageData?.background.image + ')','background-color':pageData?.background.color}" class="masthead" id="{{pageData?.elementTmpName+pageData?.elementSequence}}">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in editable" [(contenteditableModelHtml)]="pageData?.title.title"  [ngClass]="{'border': loginCheck()&&showElementTools}">Welcome To Our St</div>
          <div class="intro-heading text-uppercase editable" [(contenteditableModelHtml)]="pageData?.title.subtitle"  [ngClass]="{'border': loginCheck()&&showElementTools}">It's Nice To Me</div>
          <button-options [pageData]="pageData" *ngIf="showElementTools"></button-options>
          
          <a *ngIf="!pageData.data.buttonLink.isExternam" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="color:black" [routerLink]="[pageData.data.buttonLink.link.page]" pageScroll href="{{pageData.data.buttonLink.link.slideTo}}">{{pageData.data.buttonLink.buttonText}}</a>
          
          <a *ngIf="pageData.data.buttonLink.isExternam" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="color:black" href="{{pageData.data.buttonLink.link.page}}">{{pageData.data.buttonLink.buttonText}}</a>
          
        </div>
      </div>
      
    </header>