 <!-- Main component for a primary marketing message or call to action -->
<content-edit-nav *ngIf="loginCheck()" [editPressed]="showElementTools" (editClick)="editClick()" (disableClick)="disableClick()" (saveClick)="saveClick()"></content-edit-nav>
<agency-nav [pageData]="pageData"></agency-nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!--<header class="intro-header" style="background-image: url('app/assets/bootstrap-templates/blog-template/home-bg.jpg')">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin:auto;">-->
    <!--                <div class="site-heading">-->
    <!--                    <h1>Blog</h1>-->
    <!--                    <hr class="small">-->
                        <!--<span class="subheading">A Clean Blog Theme by Start Bootstrap</span>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</header>-->
   <blog-headder [filteredItemList]="filteredItemList" [showElementTools]="showElementTools" [pageData]="pageData.blog"></blog-headder> 

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin:auto;">
                <!-- Pager -->
                <ul *ngIf="loginCheck()" class="pager">
                    <li class="next">
                        <a class="hand" data-toggle="modal" data-target="#createBlogPost">Create new Post &rarr;</a>
                    </li>
                </ul>
                
                <div *ngFor="let post of blogPostList">
                <div class="post-preview" >
                    <a [routerLink]="['/blog-posts',post._id] " pageScroll  href="#top_of_page">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post?.date | date: 'dd/MM/yyyy at HH:MM'}}</p>
                </div>
                <hr>
                </div>
                
                <agency-footer [pageData]="pageData"></agency-footer>
                <!--<div class="post-preview">-->
                <!--    <a href="post.html">-->
                <!--        <h2 class="post-title">-->
                <!--            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.-->
                <!--        </h2>-->
                <!--    </a>-->
                <!--    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="post-preview">-->
                <!--    <a href="post.html">-->
                <!--        <h2 class="post-title">-->
                <!--            Science has not yet mastered prophecy-->
                <!--        </h2>-->
                <!--        <h3 class="post-subtitle">-->
                <!--            We predict too much for the next year and yet far too little for the next ten.-->
                <!--        </h3>-->
                <!--    </a>-->
                <!--    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="post-preview">-->
                <!--    <a href="post.html">-->
                <!--        <h2 class="post-title">-->
                <!--            Failure is not an option-->
                <!--        </h2>-->
                <!--        <h3 class="post-subtitle">-->
                <!--            Many say exploration is part of our destiny, but it’s actually our duty to future generations.-->
                <!--        </h3>-->
                <!--    </a>-->
                <!--    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>-->
                <!--</div>-->
                <!--<hr>-->
            </div>
        </div>
    </div>

    <!--NEW SNIPPET CREATION MODAL HERE-->
<!-- Modal -->
<div class="modal fade" id="createBlogPost" tabindex="-1" role="dialog" aria-labelledby="createBlogPost" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New BlogPost</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      <form [formGroup]="createBlPost" >
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Blog Post Name:</label>
            <em class="error animated fadeIn" [hidden]="validInputField(blogPostName)">This field is required</em>
            <input type="text" class="form-control" formControlName="blogPostName" name="blogPostName">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Blog Post description:</label>
            <em class="error animated fadeIn" [hidden]="validInputField(blogPostDescription)">This field is required</em>
            <textarea class="form-control" formControlName="blogPostDescription" name="blogPostDescription"></textarea>
          </div>
         </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button [disabled]="createBlPost.invalid" (click)='createBlogPost(createBlPost.value)' type="submit" type="button" class="btn btn-primary" data-dismiss="modal">Create New</button>
     </div>
    </div>
  </div>
</div>



  				<div id="editor">
					<h1>Hello world!</h1>
					<p>I'm an instance of <a href="https://ckeditor.com">CKEditor</a>.</p>
				</div>