   <!--This page have been formed from the bootstrap templates, REF: https://github.com/BlackrockDigital-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" [routerLink]="['/title-page']" pageScroll  href="#top_of_page">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          
          
          
          <!--<ul class="navbar-nav text-uppercase ml-auto">-->
          <!--  <li *ngFor="let ele of navItemList" class="nav-item">-->
          <!--    <a class="nav-link js-scroll-trigger" [routerLink]="['/title-page']" pageScroll  href="{{'#'+ele.elementTmpName+ele.elementSequence}}">{{ele.navName}}</a>-->
          <!--  </li>-->
          <!--  <li  class="nav-item">-->
          <!--    <a class="nav-link js-scroll-trigger" [routerLink]="['/blog-posts']">Blog Posts</a>-->
          <!--  </li>-->
            
            
            
            <ul class="navbar-nav text-uppercase ml-auto" *ngFor="let page of pageData.navbarElement.data.additionalElements">
              <li *ngFor="let ele of page.elements" class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="[page.page]" pageScroll  href="{{ele.slideTo}}">{{ele.navName}}</a>
              </li>

            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#about">About</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#team">Team</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" routerLink="/blog-posts">Blog</a>-->
            <!--</li>-->
          </ul>
          
            <ul *ngIf="pageData.navbarElement.enableBlog" class="navbar-nav text-uppercase ml-auto">
              <li  class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['/blog-posts']" pageScroll  href="#top_of_page">Blog Section</a>
              </li>
            </ul>
          
        </div>
      </div>
    </nav>
<!--<div class="container-fluid headder">-->
<!--  <div class="row">-->
<!--    <div class='col'>-->
<!--      <div >-->
<!--        <div class="con">-->
<!--          <h1 class='banner'>Simple Code<span class="prep">{{ '{' }}from{{ '}' }}</span>Just simple Developper</h1>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<nav>-->
<!--  <ul class="nav justify-content-center nav-enhance">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" [routerLink]="['/projects']">Projects</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" [routerLink]="['/snippet-repository']">Snippet Repository</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
      <!--<a class="nav-link disabled" href="#">Blog Posts</a>-->
<!--      <a class="nav-link" [routerLink]="['/blog-posts']" >Blog Posts</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->