<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" >-->
<!--  Launch demo modal-->
<!--</button>-->
<!--<br/>-->
<!--<hr/>-->
<!--<br/>-->

<!--<footer  >-->

<!--</footer>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--adding modat to the footer part-->
<login-signup-component></login-signup-component>


<footer class='text-center' id="agency-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin: auto;">
                <ul class="list-inline text-center">
                    <li>
                        <a *ngIf="!loginCheck()" class="hand" data-toggle="modal" data-target="#login-modal">Login</a>
                        <a *ngIf="loginCheck()" class="hand" (click)="logout()">Logout</a>
                    </li>
                    <!--<li>-->
                    <!--    <a href="#">-->
                    <!--        <span class="fa-stack fa-lg">-->
                    <!--            <i class="fa fa-circle fa-stack-2x"></i>-->
                    <!--            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
                    <!--        </span>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--    <a href="#">-->
                    <!--        <span class="fa-stack fa-lg">-->
                    <!--            <i class="fa fa-circle fa-stack-2x"></i>-->
                    <!--            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
                    <!--        </span>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--    <a href="#">-->
                    <!--        <span class="fa-stack fa-lg">-->
                    <!--            <i class="fa fa-circle fa-stack-2x"></i>-->
                    <!--            <i class="fa fa-github fa-stack-1x fa-inverse"></i>-->
                    <!--        </span>-->
                    <!--    </a>-->
                    <!--</li>-->
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2018</p>
            </div>
        </div>
    </div>
</footer>
